/**
 * @file
 * Collapsible details.
 *
 * @see collapse.js
 */
.seven-details {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  background-color: #202013;
}
.seven-details__summary {
  cursor: pointer;
  color: #0074bd;
  text-shadow: 0 1px 0 black;
}
.seven-details__summary:hover,
.seven-details__summary:focus,
.seven-details[open] > .seven-details__summary {
  color: #0098f6;
}
.seven-details__wrapper {
  padding: 0 1.5em 1em 1.5em;
}
