/* Modules page */
.system-modules fieldset {
  border: 0;
  border-top: 1px solid #ccc;
}
.system-modules .seven-details {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}
.system-modules .seven-details__summary {
  padding: 0.95em 0.5em;
  border-bottom: 1px solid #ccc;
}
.system-modules [open] .seven-details__summary {
  border-bottom: none;
}
.system-modules .seven-details__wrapper {
  padding: 0 0 0.5em 0;
}
.system-modules .fieldset-wrapper {
  padding: 0;
}
.system-modules table,
.locale-translation-status-form table {
  border: 0;
}
.system-modules tr.even,
.system-modules tr.odd,
.locale-translation-status-form tr.even,
.locale-translation-status-form tr.odd {
  border: 0;
  border-bottom: 10px solid #333;
  background: #0C0B11;
}
.system-modules tr td:last-child,
.locale-translation-status-form tr td:last-child {
  border: 0;
}
.system-modules table th,
.locale-translation-status-form table th {
  border: 0;
  border-bottom: 10px solid #fff;
}
.system-modules .sticky-header th,
.locale-translation-status-form .sticky-header th {
  border: 0;
}
