/**
 * @file
 * Panel styling. Panels are used to visually group items together.
 */

.panel {
  margin: 0 0 20px;
  padding: 9px;
  border: 1px solid #333;
  background: #070707;
}
.panel__title {
  margin: 0;
  padding-bottom: 9px;
  text-transform: uppercase;
  font-size: 1em;
}
