/**
 * @file
 * Styles for administration pages.
 */

/**
 * Add search page select/submit.
 */
.search-admin-settings .container-inline {
  margin-bottom: 1em;
}
.search-admin-settings label[for="edit-search-type"] {
  display: block;
}

.system-modules label, .system-modules-uninstall label {
  color: #E2E2E2;
}

.system-modules details {
  color: #A3A3A3;
}
