/**
 * @file
 * Styles for the system status counter component.
 */

.system-status-counter {
  display: inline-block;
  overflow-y: hidden;
  box-sizing: border-box;
  width: 100%;
  white-space: nowrap;
  border: 1px solid #191B20;
  border-radius: 3px;
  background: #030305;
}
.system-status-counter__status-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  border-right: 1px solid #191B20; /* LTR */
  border-left: 0; /* LTR */
  background-color: #05060A;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
[dir="rtl"] .system-status-counter__status-icon {
  border-right: 0;
  border-left: 1px solid #191B20;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.system-status-counter__status-icon:before {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: 25px;
}

.system-status-counter__status-icon--error:before {
  background-image: url(../../../stable/images/core/icons/e32700/error.svg);
}
.system-status-counter__status-icon--warning:before {
  background-image: url(../../../stable/images/core/icons/e29700/warning.svg);
}
.system-status-counter__status-icon--checked:before {
  background-image: url(../../../stable/images/core/icons/73b355/check.svg);
}

.system-status-counter__status-title {
  display: inline-block;
  padding: 0 6px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1em;
}
.system-status-counter__title-count {
  display: block;
  margin-bottom: 2px;
}
.system-status-counter__details {
  display: block;
  text-transform: none;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
}

@media screen and (min-width: 61em) {
  .system-status-counter__status-icon,
  .system-status-counter {
    height: 65px;
  }
  .system-status-counter__status-icon {
    width: 65px;
  }
  .system-status-counter__status-title {
    padding: 10px 3%;
    font-size: 16px;
  }
  .system-status-counter__status-icon:before {
    background-size: 35px;
  }
}
