/**
 * @file toolbar.theme.css
 */
.toolbar {
    font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
    /* Set base font size to 13px based on root ems. */
    font-size: 0.8125rem;
    -moz-tap-highlight-color: rgba(255, 255, 255, 0);
    -o-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-touch-callout: none;
    -o-touch-callout: none;
    -webkit-touch-callout: none;
    touch-callout: none;
}
.toolbar .toolbar-item {
    padding: 1em 1.3333em;
    cursor: pointer;
    text-decoration: none;
    line-height: 1em;
}
.toolbar .toolbar-item:hover,
.toolbar .toolbar-item:focus {
    text-decoration: underline;
}

/**
 * Toolbar bar.
 */
.toolbar .toolbar-bar {
    color: #DDD;
    background-color: #0F0F0F;
    box-shadow: -1px 0 3px 1px rgba(0, 0, 0, 0.3333); /* LTR */
}
[dir="rtl"] .toolbar .toolbar-bar {
    box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.3333);
}
.toolbar .toolbar-bar .toolbar-item {
    color: #FFF;
}
.toolbar .toolbar-bar .toolbar-tab > .toolbar-item {
    font-weight: bold;
}
.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:hover,
.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus {
    background-image: -webkit-linear-gradient(rgba(1, 1, 1, 0.125) 20%, transparent 200%);
    background-image: linear-gradient(rgba(1, 1, 1, 0.125) 20%, transparent 200%);
}
.toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active {
    background-image: -webkit-linear-gradient(rgba(1, 1, 1, 0.25) 20%, transparent 200%);
    background-image: linear-gradient(rgba(1, 1, 1, 0.25) 20%, transparent 200%);
}

/**
 * Toolbar tray.
 */
.toolbar .toolbar-tray {
    background-color: #000;
}
.toolbar-horizontal .toolbar-tray > .toolbar-lining {
    padding-right: 5em; /* LTR */
}
[dir="rtl"] .toolbar-horizontal .toolbar-tray > .toolbar-lining {
    padding-right: 0;
    padding-left: 5em;
}
.toolbar .toolbar-tray-vertical {
    border-right: 1px solid #555; /* LTR */
    background-color: #0A0A0A;
    box-shadow: -1px 0 5px 2px rgba(0, 0, 0, 0.3333); /* LTR */
}
[dir="rtl"] .toolbar .toolbar-tray-vertical {
    border-right: 0 none;
    border-left: 1px solid #555;
    box-shadow: 1px 0 5px 2px rgba(0, 0, 0, 0.3333);
}
.toolbar-horizontal .toolbar-tray {
    border-bottom: 1px solid #555;
    box-shadow: -2px 1px 3px 1px rgba(0, 0, 0, 0.3333); /* LTR */
}
[dir="rtl"] .toolbar-horizontal .toolbar-tray {
    box-shadow: 2px 1px 3px 1px rgba(0, 0, 0, 0.3333);
}
.toolbar .toolbar-tray-horizontal .toolbar-tray {
    background-color: #0A0A0A;
}
.toolbar-tray a {
    padding: 1em 1.3333em;
    cursor: pointer;
    text-decoration: none;
    color: #F5F5F5;
}
.toolbar-tray a:hover,
.toolbar-tray a:active,
.toolbar-tray a:focus,
.toolbar-tray a.is-active {
    text-decoration: underline;
    color: #F5F5F5;
}
.toolbar .toolbar-menu {
    background-color: #000;
}
.toolbar-horizontal .toolbar-tray .menu-item + .menu-item {
    border-left: 1px solid #ddd; /* LTR */
}
[dir="rtl"] .toolbar-horizontal .toolbar-tray .menu-item + .menu-item {
    border-right: 1px solid #ddd;
    border-left: 0 none;
}
.toolbar-horizontal .toolbar-tray .menu-item:last-child {
    border-right: 1px solid #ddd; /* LTR */
}
[dir="rtl"] .toolbar-horizontal .toolbar-tray .menu-item:last-child {
    border-left: 1px solid #ddd;
}
.toolbar .toolbar-tray-vertical .menu-item + .menu-item {
    border-top: 1px solid #ddd;
}
.toolbar .toolbar-tray-vertical .menu-item:last-child {
    border-bottom: 1px solid #ddd;
}
.toolbar .toolbar-tray-vertical .menu-item .menu-item {
    border: 0 none;
}
.toolbar .toolbar-tray-vertical .toolbar-menu ul ul {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.toolbar .toolbar-tray-vertical .menu-item:last-child > ul {
    border-bottom: 0;
}
.toolbar .toolbar-tray-vertical .toolbar-menu .toolbar-menu .toolbar-menu .toolbar-menu {
    margin-left: 0.25em; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu .toolbar-menu .toolbar-menu .toolbar-menu {
    margin-right: 0.25em;
    margin-left: 0;
}
.toolbar .toolbar-menu .toolbar-menu a {
    color: #434343;
}

/**
 * Orientation toggle.
 */
.toolbar .toolbar-toggle-orientation {
    height: 100%;
    padding: 0;
    background-color: #0A0A0A;
}
.toolbar-horizontal .toolbar-tray .toolbar-toggle-orientation {
    border-left: 1px solid #363636; /* LTR */
}
[dir="rtl"] .toolbar-horizontal .toolbar-tray .toolbar-toggle-orientation {
    border-right: 1px solid #363636;
    border-left: 0 none;
}
.toolbar .toolbar-toggle-orientation > .toolbar-lining {
    float: right; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-toggle-orientation > .toolbar-lining {
    float: left;
}
.toolbar .toolbar-toggle-orientation button {
    display: inline-block;
    cursor: pointer;
}
